# Python
*.class
*.pyc
python/PyCNL.egg-info

# Mac OSX
.DS_Store

# Emacs temp files
*~

# Eclipse 
.project
.pydevproject

# Sphinx output
doc/_build

# setuptools files
/MANIFEST
/dist
/python/PyNDN.egg-info
/build

# Temporary test files
examples/test.db
